<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test_03.dao.IUserDao">

    <select id="queryUserInfoById" parameterType="long" resultMap="activityMap">
        SELECT *
        FROM users
        where tb_user_id = #{userId}
    </select>
    <select id="queryUsersInfoById" parameterType="test_03.po.User1" resultMap="activityMap">
        SELECT *
        FROM users
        where tb_user_age = #{userAge}
    </select>
    <select id="countAge"  resultType="long">
        SELECT count(*)
        FROM users
        where tb_user_age between #{param1} and #{param2}
    </select>
    <resultMap id="activityMap" type="test_03.po.User1">
        <id column="tb_user_id" property="userId"/>
        <result column="tb_user_name" property="userName"/>
        <result column="tb_user_age" property="userAge"/>
    </resultMap>

</mapper>
